@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}
.header {
  padding: 2% 0% 0% 15%;
}
.header__menu {
  display: flex;
  gap: 80px;
}
.headee__mune_link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #22d4fd;
  text-decoration: none;
}
.section {
  flex-direction: column;
}
.h1 {
  display: flex;
  font-family: "Krona One", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 36px;
}
.presentacion {
  display: flex;
  justify-content: space-between;
  padding: 6% 15%;
  box-sizing: border-box;
  width: 600px;
  align-items: center;
  gap: 0px;
}
.cotenido__text {
  width: 550px;
  line-height: 150%;
  font-size: 1.25rem;
  padding-right: 100px;
  padding-top: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: start;
}
.presentacion__imagen {
  width: 500%;
  height: 600%;
}
.footer {
  background-color: #22d4fd;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #000000;
  padding: 1.5rem;
  font-weight: 600;
}
